In [255]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
import requests
import sys

In [272]:

urls = [
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=153114131800003010',
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=163105162900021810',
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=162906640000010420',
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=162829126410051010',
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=152824107510002074',
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=152703758190000510',
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=153114907950000104',
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=162722716901220810',
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=163116635220030020',
'http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=152908546580011203']

In [273]:
list_final=pd.DataFrame()
extra_f_final=pd.DataFrame()

In [274]:
for url in urls:

    list=[]
    extra_f=[]
    browser = webdriver.Chrome(r'C:\Users\lizac\Downloads\chromedriver_win32\chromedriver.exe')
    browser.get(url)
    browser.switch_to.frame('bodyFrame')
    button = browser.find_element_by_xpath("/html/body/blockquote/div/p[10]/font/button[1]")
    button.click()
    html = browser.page_source
    soup = BeautifulSoup(html,'lxml')
    table=soup.find('div',id='valhist')
    rows=table.find_all('tr')
    for row in rows[1:]:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        list.append(cols)
    df=pd.DataFrame(list)
    prop_id=soup.find_all('font')[7]
    prop_id = prop_id.get_text(strip=True)
    df['id']=prop_id
    
    
    id=soup.find('div',id="xfsb")
    rows1=id.find_all('tr')
    for row in rows1:
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]
        extra_f.append(cols)
    extra_f=pd.DataFrame(extra_f)
    header = extra_f.iloc[0]
    extra_f = extra_f[1:]
    extra_f.rename(columns = header)
    extra_f['id']=prop_id
    list_final = list_final.append(df,ignore_index=True)
    extra_f_final = extra_f_final.append(extra_f,ignore_index=True)

In [275]:
list_final.columns=['Year','Homestead Exemption','Just/Market Value','Assessed Value/ SOH Cap','County Taxable Value','School Taxable Value','Municipal Taxable Value','ID']

In [276]:
extra_f_final.columns=['Description','Value/Units','Units','Total Value as New','Depreciated Value','Year',"Id"]

In [277]:
from pandas import ExcelWriter

writer = ExcelWriter('Task3_3.xlsx')
extra_f_final.to_excel(writer,'Sheet2')
writer.save()

In [228]:
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')
writer.save()
list_final.to_excel(writer, sheet_name='Liza')

In [240]:
list_final.to_csv('task3_historicalData.csv', sep='\t', encoding='utf-8')

In [238]:
extra_f_final

,Description,Value/Units,Units,Total Value as New,Depreciated Value,Year,Id
0,BT LFT/DAV,"$8,000.00",1.00,"$8,000.00","$6,400.00",2010,14-31-15-13180-000-3010
1,BOAT SLIP,"$20,000.00",1.00,"$20,000.00","$20,000.00",1971,14-31-15-13180-000-3010
2,No Extra Features on Record,None,None,None,None,None,05-31-16-16290-002-1810
3,No Extra Features on Record,None,None,None,None,None,06-29-16-64000-001-0420
4,No Extra Features on Record,None,None,None,None,None,29-28-16-12641-005-1010
5,No Extra Features on Record,None,None,None,None,None,24-28-15-10751-000-2074
6,PATIO/DECK,$9.00,240.00,"$2,160.00",$864.00,1986,03-27-15-75819-000-0510
7,FIREPLACE,"$3,000.00",1.00,"$3,000.00","$1,920.00",1986,03-27-15-75819-000-0510
8,No Extra Features on Record,None,None,None,None,None,14-31-15-90795-000-0104
9,No Extra Features on Record,None,None,None,None,None,22-27-16-71690-122-0810
10,PATIO/DECK,$9.00,220.00,"$1,980.00",$792.00,1980,16-31-16-63522-003-0020
11,SHED,$6.00,80.00,$480.00,$480.00,1980,16-31-16-63522-003-0020
12,No Extra Features on Record,None,None,None,None,None,08-29-15-54658-001-1203

In [241]:
extra_f_final.to_csv('task3_extra_features.csv', sep='\t', encoding='utf-8')

In [267]:
list_final=pd.DataFrame()

In [268]:
for url in urls:

    
    browser = webdriver.Chrome(r'C:\Users\lizac\Downloads\chromedriver_win32\chromedriver.exe')
    browser.get(url)
    browser.switch_to.frame('bodyFrame')
    button = browser.find_element_by_xpath("/html/body/blockquote/div/p[10]/font/button[1]")
    button.click()
    html = browser.page_source
    soup = BeautifulSoup(html,'lxml')
    owner=soup.find_all('td')[16].get_text(strip=True)
    adress=soup.find_all('td')[17].get_text(strip=True)
    prop_id=soup.find_all('font')[7].get_text(strip=True)
    qty=soup.find(string='Quality: ').findNext('b').get_text(strip=True)
    try:
            floor=soup.find(string='Floor number: ').findNext('b').get_text(strip=True)
    except AttributeError:
            floor=""
    year=soup.find(string='Year Built: ').findNext('b').get_text(strip=True)
    age=soup.find(string='Effective Age: ').findNext('b').get_text(strip=True)
    try:
            view=soup.find(string='View: ').findNext('b').get_text(strip=True)
    except AttributeError:
            view=""
    try:
            location=soup.find(string='Location: ').findNext('b').get_text(strip=True)
    except AttributeError:
            location=""
    try:
            balc=soup.find(string='Balcony/Porch: ').findNext('b').get_text(strip=True)
    except AttributeError:
            balc=""
        
    
    df1=pd.DataFrame({'ID':prop_id,'Address': adress,'Ownership':owner,'Quality':qty,
                     'View':view,'Location':location,'Balcon/Porch':balc,'Floor':floor,'Year build':year,
                      'Effective age':age
                     }, index=[0])
    
    list_final = list_final.append(df1,ignore_index=True)

In [270]:
list_final

,Address,Balcon/Porch,Effective age,Floor,ID,Location,Ownership,Quality,View,Year build
0,12405 3RD ST E # 301TREASURE ISLAND,None,38,3,14-31-15-13180-000-3010,Corner,ANDERSEN MARIBEN EANDERSEN SCOTT LEE16714 BRAS...,Fair,Canal,1971
1,4300 58TH ST N # 1810KENNETH CITY,Enclosed - Base Semi-Finished,41,1,05-31-16-16290-002-1810,Interior,"ANDERSEN, PAUL AANDERSEN, RUTH EANDERSEN, BENJ...",Fair,Standard,1967
2,2002 AUSTRALIA WAY E # 42(Unincorporated),None,39,2,06-29-16-64000-001-0420,Interior,"ANDERSEN, CARL MANDERSEN, ELLEN M85 GEORGE STB...",Average,Standard,1969
3,2721 COUNTRYSIDE BLVD # 101CLEARWATER,Enclosed - Standard,27,1,29-28-16-12641-005-1010,Corner,"ANDERSEN, TERRYANDERSEN, DEBBIE2721 COUNTRYSID...",Average,Standard,1984
4,1692 HAMILTON CTDUNEDIN,Screen - Standard,23,,24-28-15-10751-000-2074,,"ANDERSEN, DOROTHY M REV LIV TRUSTANDERSEN, DOR...",Average,,1989
5,1362 RIVERSIDE DRTARPON SPRINGS,,28,,03-27-15-75819-000-0510,,"ANDERSEN, HANS J TREANDERSEN, ROSALIE ANN TRE1...",Average,,1986
6,12055 3RD ST E # 104TREASURE ISLAND,Open Porch,27,2,14-31-15-90795-000-0104,Interior,"ANDERSEN, JAMES EANDERSEN, ELAINE N12055 3RD S...",Average,Canal,1984
7,1309 PINE RIDGE CIR E # H1(Unincorporated),Screen - Standard,27,1,22-27-16-71690-122-0810,Corner,"ANDERSEN, JORNANDERSEN, ANGELA1309 PINE RIDGE ...",Average,Parking,1984
8,5514 8TH AVE NST PETERSBURG,,45,,16-31-16-63522-003-0020,,"ANDERSEN, ROGER RANDERSEN, KATHLEEN ACUDDI, AL...",Average,,1953
9,11 SAN MARCO ST # 1203CLEARWATER,Open Porch,13,12,08-29-15-54658-001-1203,Interior,"ANDERSEN, LARRY E102 DICKINSON STPHILADELPHIA ...",Above Average,Gulf Of Mexico - Limited,2002

In [187]:
browser = webdriver.Chrome(r'C:\Users\lizac\Downloads\chromedriver_win32\chromedriver.exe')
browser.get('http://www.pcpao.org/?pg=http://www.pcpao.org/general.php?strap=153114131800003010')
browser.switch_to.frame('bodyFrame')
button = browser.find_element_by_xpath("/html/body/blockquote/div/p[10]/font/button[1]")
button.click()
html = browser.page_source
soup = BeautifulSoup(html,'lxml')
id=soup.find('div',id="xfsb")
extra_f=[]
rows1=id.find_all('tr')
for row in rows1:
    cols=row1.find_all('td')
    cols=[x.text.strip() for x in cols]
    extra_f.append(cols)
extra_f=pd.DataFrame(extra_f)
header = extra_f.iloc[0]
extra_f = extra_f[1:]
extra_f.rename(columns = header)

'\n\n\nDescription\nValue/Unit\nUnits\nTotal Value as New\nDepreciated Value\nYear\n\nBT LFT/DAV$8,000.001.00$8,000.00$6,400.002010BOAT SLIP$20,000.001.00$20,000.00$20,000.001971 \n'

In [198]:
id.find_all('tr')[0].text

'\nDescription\nValue/Unit\nUnits\nTotal Value as New\nDepreciated Value\nYear\n'

In [ ]:
 table=soup.find_all('table')[23]
    b=table.find_all('b')
    listb=[]
    for word in b:
        listb.append(word.text)
    df2=pd.DataFrame(listb)
    df2=df2.T
    df2=df2.drop(df2.columns[[1]], axis=1) 
    df2=df2.rename(columns={0:'Quality',2:'View',3:'Location',4:'Floor number',5:'Balcony/Porch',6:'Gross Square Footage',7:'Exterior Wall',8:'Stories',9:'Year Built',10:'Effective Age'})
    df3=pd.concat([df1, df2], axis=1)
    list_final = list_final.append(df3)